Flask
Redis
gunicorn
requests
protobuf==3.20.1
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-redis
opentelemetry-api
opentelemetry-exporter-jaeger
opentelemetry-exporter-jaeger-proto-grpc
opentelemetry-exporter-jaeger-thrift
opentelemetry-instrumentation
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-wsgi
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-redis
